<footer class="footer">
  <small>
  </small>
  <nav>
    <ul>
    	<li style="width:350px;">This AWESOME app was entirely made using Ruby on Rails, you can fork it or check the code at GitHub. :) &rarr;</li>
    	<li style=""><a href="https://github.com/esbanarango/Topicos-Especiales-en-Telematica/tree/master/Reto%204"><img alt="GitHub" title="GitHub Repo" src="/assets/ge.png" /></a></li>
    </ul>
  </nav>
</footer>