<article>
  <h1>We're sorry, but something went wrong <span frown>:(</span></h1>
	   <div>
	       <p>We've been notified about this issue and we'll take a look at it shortly.</p>
	   </div>
 </article>