<article>
	<div>	
		<%= form_tag search_path, :remote => true do %>
		  <%= text_field_tag 'q',nil, :required => "required", :placeholder => 'search...' %>
		  <%= submit_tag("Search") %>
		<% end %>
		<div class="result"></div>
	</div>
</article>