/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


.room-description{
  list-style: none;
  color: #bbb;
}

.room-description li{
    font-size:9px !important;
    margin-left: -20px; 
}

.parner{cursor: pointer;}

.desktop{
  margin-left:4px;
  color:#ccc !important;
}

.newMessages{
  display: none;
  font-size: 8.998px !important;
  padding: 1px 7px 2px !important;
  margin-left:3px;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;

}

.private_messages{
  display: none;
  height: 140px;
  width: 100%;
  padding: 5px;
  border-radius: 1px 1px 7px 2px;
  background: white;
  border: 1px solid #DDD;
}


.private_messages .content{
  height: 50%;
  width: 95%;
  padding: 5px;
  overflow-y: scroll;
  margin: 0 auto;
}

.private_messages .content .created_at {
  float: right;
  color: 
  #777;
  font-size: 11px;
  padding-left: 4px;
  padding-top: 2px;
}

.private_messages .content .privateOther {
  border-radius:2px;
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #CCC;
}

.private_messages .content .privateMe {
   border-radius:2px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  background-color: #5BB75B;
}
.private_messages .content .content_messages {
  padding-left:3px;
}



.private_messages header{
  font-size:11px;
  padding: 1px 5px;
  border-bottom: 1px solid #EEE;
}

.private_messages header .shh{
  display: inline;
  float: right;
}



.private_messages footer{
  font-size:13px;
  margin: 0px;
  padding-top: 5px;
  border: none;
  /*border-top: 1px solid #EAEAEA;*/
  color: #999;
}

.private_messages footer .arrow{
  font-size:13px;
  display: inline;
  margin-right:5px;
}

.private_messages footer form{
  display: inline;
}

.private_messages footer input{
  width: 81%;
  height: 80%;
  border: none;
  margin: 0 auto;
}








